<!DOCTYPE html>
<html>
  <head>
    <title>Songflix</title>
    <meta property="og:title" content="Songflix" />
    <meta property="og:image" content="https://i.imgur.com/4BPazUs.png" />
    <meta property="og:description" content="Songflix is a clone of one of the biggest streaming service web app Netflix, except that the user can watch music videos and concerts, as opposed to movies and TV shows." />
    <meta property="og:url" content="https://songflix.herokuapp.com/#/" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="icon" 
      type="image/png" 
      href="https://i.imgur.com/NhUDCQ7.png?1">
    <script src="https://kit.fontawesome.com/b1d719111a.js" crossorigin="anonymous" SameSite="None Secure"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
